<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block layout::fragment="style1">
	<style>
table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.hotpink {
	background-color: hotpink;
}

.skyblue {
	background-color: skyblue;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}
</style>
</th:block>

</head>
<body>
	
	<div class="panel panel-default" layout:fragment="content">
		<!-- <p>[[${blist}]]</p> -->
		<a th:href="@{insert.do}">글쓰고싶냐? 여기를 누르시오.</a>
		
		<table border="1" th:with="target=${loginUser}, friend=${myFriend}">
			<tr>

				<th>글번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>내용</th>
				<th>등록일</th>
				<th>수정일</th>
				<th>삭제하기</th>
				<th>삭제버튼</th>
			</tr>

			<tr th:each="board:${blist}">
				<!--/*-->
				<td>
					<a th:href="@{detail.do(bno=${board.bno})}">[[${board.bno}]]</a>
					 <span class="badge bg-danger">[[${#lists.size(board.replies)}]]</span>
					<span class="badge bg-primary">[[${#lists.size(board.replies)}]]</span>
				</td> 
				<!--*/-->
				<td>[[${board.title}]]</td>
				<td>[[${board.writer}]]</td>
				<td>[[${board.content}]]</td>
				<td>[[${#dates.format(board.regdate,'yyyy-MM-dd')}]]</td>
				<td>[[${#dates.format(board.updatedate,'yyyy-MM-dd')}]]</td>
				<td><a th:href="@{delete.do(bno=${board.bno})}">지워버려~</a></td>
				<td><button th:onclick="call([[${board.bno}]])">지우라고!</button></td>
			</tr>
		</table>
		
		
	</div>
	
	<th:block layout:fragment="script1">
		<script th:inline="javascript">
			var msg = '[[${message}]]';
			if(msg != "null") {
				alert(msg);
			}
		
			function call(bno) {
				location.href="delete.do?bno=" + bno;
			}
		</script>
	</th:block>
</body>
</html>